<!DOCTYPE html>
{% load static %}
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GF GPT - AI Girlfriend</title>
    <meta name="author" content="Mohin Uddin Shipon">
    <meta name="robots" content="index, follow">
    <meta name="csrf-token" content="{{ csrf_token }}" >
    <link rel="shortcut icon" href="{% static "icons/icon-32.png" %}" type="image/x-icon">
    <link rel="manifest" href="{% static "manifest.json" %}">
    <script src="{% static "tailwindcss.js" %}"></script>
    <script src="{% static 'alpine.js' %}" defer></script>
</head>
{% block content %}{% endblock %}
</html>